body{
    background-color: #FFBFA9;

}

table{
    margin: auto;
    width: 40%;

}

table,td,th{
    border: 1px solid black;
    border-collapse: collapse;
}

th{
    background-color: #f7693a;
}

tr:nth-child(even){
    background-color: #db6d49;
}

a:hover{
    color: rgb(63, 0, 0);
}

a:visited{
    color: gray;
}

a:active{
    color: white;
}

img{
    width: 350px;
    height: 300px;
}

.gallery{
    display: flex;
    justify-content: space-around;
}

.intro{
    text-align: center;
    background-color: #bd3b10;
    height: 100px;
    width: 100%;
    margin: 0;
}
